{
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "trailingComma": "none",
  "singleAttributePerLine": true
}
